apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: ex2-dev
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: ghcr.io/tea174/app-deploy-k8s-ex2-backend:v2
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
              name: backend-port
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: db-secrets
          livenessProbe:
            httpGet:
              path: /health/live
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: ex2-dev
  labels:
    app: backend
spec:
  selector:
    app: backend
  ports:
    - port: 5000
      name: backend-port
      targetPort: 5000
  type: ClusterIP